<div id="workshop" class="about" style="background-color: #efefef; text-align: center;">
  <div class="container-fluid">
    <!-- <h1 class="section-title" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color:#3dadb2">Workshop</h1> -->

    <div class="row">
      <div class="col-sm-12" style="text-align: left; ">
   <h3>1. Accommodation</h3>     
        <table>
	  <tr>
	    <th>Hotel</th>
	    <th>Price (USD)</th>
	    <th>Service</th>
	    <th>Contact</th>
	    
            </tr>
	  <tr>
	    <td><a href="https://www.radissonblu.com/en/hotel-addisababa"> Radisson Blu Hotel</a></td>
	    <td>Starting from $160</td>
	    <td>Bed only</td>
	    <td>reservations.addisababa@radissonblu.com</td>
        </tr>
        <tr> 
        <td><a href="https://www.marriott.com/hotels/travel/addlc-sheraton-addis-a-luxury-collection-hotel-addis-ababa/">Sheraton Addis</a></td>
	    <td>Starting from $404</td>
	    <td>Bed only</td>
	    <td>https://bit.ly/2IAUX6X</td>
                        
	  </tr>
<tr> 
	    <td><a href="https://www.intercontinentaladdis.com/">Intercontinental Hotel Addis</a></td>
	    <td>Starting from $100</td>
	    <td>B&amp;B</td>
        <td>reservation@intercontinentaladdis.com /info@intercontinentaladdis.com
</td>
           </tr>
<tr> 
	    <td><a href="http://www.addisregency.com/">Addis Regency Hotel</a></td>
	    <td>Starting from $70</td>
	    <td>B&amp;B</td>
	    <td>info@addisregency.com</td>
            </tr>

<tr> 
	    <td><a href="http://www.addisviewhotel.com/">Addis View Hotel</a></td>
	    <td>Starting from $90</td>
	    <td>B&amp;B</td>
	    <td>addisview@ethionet.et</td>
        </tr>
<tr>
	    <td><a href="http://hotelrasamba.com/">Ras Amba Hotel</a></td>
	    <td>Starting from $75</td>
	    <td>B&amp;B</td>
	    <td>rasambahotel@hotmail.com</td>
            </tr>

	 </table>
        
	 <h3>2. VISA</h3>  
      <p>Entry to Ethiopia requires Visa. Apply online <a href ="https://www.evisa.gov.et/#/home">Ethiopian eVISA</a>. </p>
          <p> Apply for either:</p>
        <ul>
            <li><a href="https://www.evisa.gov.et/#/conference-visa">Conference Visa</a> for USD $32</li>
        <li><a href="https://www.evisa.gov.et/#/tourist-visa">Tourist Visa</a> for USD $52 (at least 3 days before travel) </li>
        <li>Fill out form for <a href="https://forms.gle/7RrVAHwWyBGXTEp38">Invitation Letter</a></li>
            </ul>
      </div>
    </div>
  </div>
</div>
